.grid{
    width: 200px;
    height: 400px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 20px;
    width: 20px;
}
.tetromino{
    
    outline: 1px black solid;
}

.red
{
    background-color : red;
}
.green
{
    background-color : green;
}
.blue
{
    background-color : blue;
}
.black
{
    background-color : black;
}
.white
{
    background-color : white;
}