body {
    text-align: center;
    overflow: hidden;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 50px;
}

input[type="text"],
button {
    padding: 10px 20px;
    font-size: 20px;
}