<button mat-raised-button>Raised button</button>
<button mat-flat-button>Flat button</button>
<button mat-stroked-button>stroked button</button>

<button mat-icon-button>
  <mat-icon>favorite</mat-icon>
</button>
<button mat-fab>
  <mat-icon>delete</mat-icon>
</button>

<mat-button-toggle-group>
  <mat-button-toggle value="left">
    <mat-icon>format_align_left</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="center">
    <mat-icon>format_align_center</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle value="right">
    <mat-icon>format_align_right</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<mat-form-field>
  <input matInput type="text" placeholder="Production date" [matDatepicker]="picker" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<p>Mat-list</p>
<mat-list>
  <mat-list-item *ngFor="let item of this.items">{{item.name}} {{item.surname}}
    {{item.age}}</mat-list-item>
</mat-list>

<p>Mat-selection-list</p>
<mat-selection-list>
  <mat-list-option color="primary" *ngFor="let item of this.items">{{item.name}} {{item.surname}}
    {{item.age}}</mat-list-option>
</mat-selection-list>