<div>
  <h2>OnClick form</h2>
  <div>
    <label for="name">Name</label>
    <input id="name" #name>
  </div>
  <div>
    <label for="price">Price</label>
    <input id="price" #price>
  </div>

  <button (click)="createProduct(name.value, price.valueAsNumber)">Add new</button>
</div>
<div>
  <h2>Reactive form</h2>
  <form [formGroup]="productForm" (ngSubmit)="createProductReactive()">
    <div>
      <label for="name">Name</label>
      <input formControlName="name" id="name" #nameReactive required="true">
    </div>
    <div>
      <label for="price">Name</label>
      <input formControlName="price" id="price" #priceReactive required="true" />
    </div>
    <button type="submit">Create</button>
  </form>
</div>