<p>product-list works!</p>
<p>{{title}} <strong>(interpolation)</strong></p>
<p [innerHTML]="title + ' bind the title property to the innerText <strong>(property binding)</strong>'"></p>
<p [attr.aria-label]="'my Text'">set the aria-label accessibility attribute through <strong>property binding</strong>
</p>
<span [innerText]="'my Text'"></span><span><strong> innerText property binding</strong></span>

<p [class.star]="isLiked"><strong>class binding (single class)</strong> 'isLiked'</p>
<p [class]="currentClasses"><strong>class binding (multiple classes)</strong> object</p>
<p [style.color]="'greenyellow'" [style.backgroundColor]="'lightblue'" [style.width.px]="100">style binding</p>
<p [style]="currentStyles">style binding from TS property</p>

<h2>Product List</h2>
<ul>
  <li *ngFor="let product of products | sort | slice:0:3; trackBy: trackByProducts; let i = index"
    (click)="selectedProduct = product">{{i
    + 1}}. {{product.name | uppercase}} - JSON( {{product | json}} )
    <!--
      <li *ngFor="let product of products | keyvalue">
        {{product.key}}
      </li>
    -->
    <app-product-view [id]="i"></app-product-view>
  </li>
</ul>

<app-product-detail #product *ngIf="selectedProduct; else noProduct" [product]="selectedProduct"
  (bought)="onBuy($event)"><span>{{product}}</span></app-product-detail>
<ng-template #noProduct>
  <p>No product selected!</p>
</ng-template>

<h3>Offers</h3>
<ng-template appProductHost></ng-template>

<div *appPermission="['admin', 'agent']">hidden role template</div>

<h2>Favorites</h2>
<app-favorites></app-favorites>
